<footer class="footer">
  
    <div class="f-contact">
      <h2>GameKarts</h2>
      <h3>Contact</h3>
      <p><strong>Address : </strong>Bhopal, Madhya Pradesh.</p>
      <p><strong>Phone : </strong>+91 1185786754, +91 2264239743</p>
      <br>
      <h4>Follow Us :</h4>
      <img src="https://cdn-icons-png.flaticon.com/128/20/20837.png" alt="">
      <img src="https://cdn-icons-png.flaticon.com/128/11823/11823292.png" alt="">
      <img src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png" alt="">
      <img src="https://cdn-icons-png.flaticon.com/128/1077/1077046.png" alt="">
    </div>
  
    <div class="f-about">
      <h3>About</h3>
      <p>About Us</p>
      <p>Delivery Information</p>
      <p>Privacy % Policy</p>
      <p>Terms & Condition</p>
      <p>Contact Us</p>
    </div>
    
    <div class="f-account">
      <h3>My Account</h3>
      <p>Sign In</p>
      <p>View Cart</p>
      <p>My Wishlist</p>
      <p>Track my order</p>
      <p>Help</p>
    </div>
  
    <div class="f-app">
      <h3>Install App</h3>
      <p>from App Store and Google Play</p>
      <img src="https://cdn-icons-png.flaticon.com/128/0/747.png" alt="">  
      <img src="https://cdn-icons-png.flaticon.com/128/3128/3128279.png" alt="">
      <p>Secured payment gateway</p>
      <img src="https://cdn-icons-png.flaticon.com/128/196/196578.png" alt="">  
      <img src="https://cdn-icons-png.flaticon.com/128/14062/14062982.png" alt="">  
    </div>
    <!-- &copy;  %> Developed by gauravXdev • -->
    </footer> 
    <footer class="copyright"><p> &copy; 2024 • Developed by IshankYagnik</p></footer>