<header class="header">
    <nav class="navbar">
      <div class="logo">
          <h2>GameKarts</h2>
      </div>   
      <ul class="nav-links">
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/shop">Shop</a>
          </li>
          <li>
              <a href="/cart">Cart</a>
          </li>
      </ul>
      <a href="/signin" class=" login-btn">Sign in</a>
      
      <div class="toggle-btn">
          <i class="fa-solid fa-bars"></i>
      </div>
  </nav>
  
  <nav class="sidebar open">        
      <ul class="side-links">
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/">Shop</a>
          </li>
          <li>
              <a href="/">cart</a>
          </li>
          <li>
              <a href="/signin" class="">Sign in</a>
          </li>
      </ul>
  </nav>
  
  </header>