<br><br><br>
<div class="heading">
    <h1>Your Cart</h1>
</div>
<section class="cart">

    <div class="your-cart">
        <div class="cart-items" style="margin-left: 100px;">
            <div class="items">
                <div>
                    <img src="/images/img1.jpeg" class="pro-img" alt="">
                </div>
                <div>
                    <p class="price" style="font-weight: 500;">Rs. 2321.44</p>
                    <p class="title">Grand-Theft-Auto-V</p>
                    <button class="btn">Remove</button>
                </div>
            </div>
            <div class="items">
                <div>
                    <img src="/images/img6.jpeg" class="pro-img" alt="">
                </div>
                <div>
                    <p class="price" style="font-weight: 500;">Rs. 8099</p>
                    <p class="title">Fronstpunk 2</p>
                    <button class="btn">Remove</button>
                </div>
            </div>
        </div>
        <div class="cart-price">
            <div class="labels">
                <p>Price (_ items)</p>
                <p>Discount</p>
                <p>Round Off</p>
                <p class="total">Total</p>
            </div>
            <div class="values">
                <p>Rs. 10420.44</p>
                <p>1599</p>
                <p>0.44</p>
                <p class="total">Rs. 8821</p>
            </div>
        </div>
    </div>

</section>